html,
body {
	height: 100%;
	font-family: "Poppins", sans-serif;
}

body {
	display: flex;
	justify-content: center;
	background-color: rgb(245, 243, 243);
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 750px;
	background-color: white;
	border-radius: 3%;
}

#login-header {
	text-align: center;
}

.auth-image {
	margin-top: 30px;
	width: 100px;
}

#login-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 5%;
}

.label-login {
	margin-left: 10%;
}

.input-login {
	width: 75%;
	align-self: center;
	height: 40px;
	border-radius: 8px;
	border: 1px solid #d9d9d9;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.08);
	padding: 0 16px;
	margin: 20px;
}

.button-login {
	width: 80%;
	align-self: center;
	padding: 20px;
	border-radius: 8px;
	border: 1px solid navy;
	background-color: rgb(24, 27, 204);
	color: white;
	margin-top: 20px;
}

.button-login:hover {
	background-color: rgb(15, 17, 122);
	cursor: pointer;
}

#toast {
	width: 220px;
	padding: 16px;

	position: fixed;
	top: 32px;
	right: 32px;

	border-radius: 12px;

	color: white;

	font-weight: 500;
	font-size: 14px;

	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

	border: 1px solid rgba(255, 255, 255, 0.1);
}

.register-quest {
	display: flex;
	flex-direction: column;
	align-items: center;
}
